<%= form_for(message, remote: true, authenticity_token: true) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :chatroom_id %>
    <%= f.collection_select :chatroom_id, Chatroom.all, :id, :topic %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </div>

  <div class="actions">
    <%= f.submit "send", class: "btn btn-primary", data: {send: "message"}%>
  </div>
<% end %>
